body {
     background-color: white;
     min-width: 1024px;
}

a {
     color: black;
}

a:hover {
     color: #444444;
}

div#contenido {
     margin: 20px 0 0 150px;
     width: 768px;
}

div#opciones {
     
}

div#cabecera {
     padding-bottom: 7px;
     border-bottom: 1px solid #DDD;
}

div.optGroup {
     margin-top: 20px;
}

div.optTitle {
}

div.optContent {
     margin: 8px 0 0 14px;
}

div#listaAsignaturas {
     
}

div#listaAsignaturas ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
}

div#listaAsignaturas ul li {
     padding: 1px;
}

div#estado {
     float: right;
}

div#pie {
     margin-top: 25px;
     font-size: 14px;
}

div#licencia {
     margin-top: 10px;
}
