body {
     width: 220px;
     font: 13px/1.231 arial,helvetica,clean,sans-serif;
     background-color: white;
}

ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
}

ul li {
     padding: 1px;
}

img {
     margin-right: 5px;
}

a {
     color: #123645;
     text-decoration: none;
}

a:hover {
     color: #DE6C10;
     text-decoration: none;
}

div#cabecera {
     float: right;
     font-weight: bold;
}

div#menu {
     padding-top: 20px;
}

div.separador {
     margin: 6px 0 2px 0;
     border-bottom: 1px solid #123645;
}
